#ODS1 {
    margin: 30px auto;
    width: 900px;
    color: #050505;
    
}

html {
    background-color: rgb(197, 196, 196);
    border: 5px solid#bb1111;
}

.titulo {
    color: #070707;
}

.titulo2 {
    color: #5c1f1f;
}

.titulo3 {
    color: #5c1f1f;
}

.grafico {
    color: #5c1f1f;
}

.oque {
    color: #5c1f1f;
}

.menu {
    float: left;
}

.casa {
    color: #5c1f1f
}
.oqueepobreza {
    color: #5c1f1f;
}

